<div class = "container">
    <div class = "row">
      <div class = "col-4">
        <div class = "card shadow">
          <div class = "card-header bg-dark text-light">
            Manage Products
          </div>
          <div class = "card-body">
            <p>Use this section to create, updated and remove products.
              This section can be used to view all the products.
              For more information, click <a href = "#">here</a>
            </p>
          </div>
        </div>
      </div>
      <div class = "col-4">
        <div class = "card shadow">
          <div class = "card-header bg-dark text-light">
            Admin Operations
          </div>
          <div class = "card-body">
            <p>
              This section is reserved for administrator use.
              The contents are being added. Please bear with us.
            </p>
          </div>
        </div>
      </div>
    </div>

</div>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>